* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background-color: #000000;
    overflow: hidden;
}

#canvas {
    display: none;
    width: 100vw;
    height: 100vh;
}

#nav-bar {
    width: 100%;
    height: 8%;
}

#nav-bar .logo-area {
    width: 8%;
    margin-left: 2%;
}

#nav-bar img {
    width: 100%;
    height: 100%;
}

#flipbook-viewport {
    width: 100%;
    height: 85%;
}

#flipbook-viewport #container {
    position: relative;
    width: 100%;
}

#flipbook-viewport #flipbook {
    position: absolute;
    width: 100vw;
    height: calc(1754 * (100vw / 2481) / 2);
    transition: margin-left 1s;
	-webkit-transition: margin-left 1s;
	-moz-transition: margin-left 1s;
	-o-transition: margin-left 1s;
	-ms-transition: margin-left 1s;
	transition: margin-left 1s;
}

#flipbook .even .gradient{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:-webkit-gradient(linear, left top, right top, color-stop(0.95, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,0.2)));
	background-image:-webkit-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
	background-image:-moz-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
	background-image:-ms-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
	background-image:-o-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
	background-image:linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
}

#flipbook .odd .gradient{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:-webkit-gradient(linear, right top, left top, color-stop(0.95, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,0.15)));
	background-image:-webkit-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
	background-image:-moz-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
	background-image:-ms-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
	background-image:-o-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
	background-image:linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
}

#flipbook .shadow {
    -webkit-box-shadow: 0 4px 10px #666;
    -moz-box-shadow: 0 4px 10px #666;
    -ms-box-shadow: 0 4px 10px #666;
    -o-box-shadow: 0 4px 10px #666;
    box-shadow: 0 4px 10px #666;
}

.pagination-previous {
    position: absolute;
    left: 0;
    top: 33%;
}

.pagination-next {
    position: absolute;
    right: 0;
    top: 33%;
}

.pagination-previous, .pagination-next {
    z-index: 999;
}

.pagination-previous:hover, .pagination-next:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#control-bar {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
}

.button-bar {
    display: flex;
}

.button {
    position: relative;
    cursor: pointer;
    width: 42px;
    height: 46px;
    background-color: transparent;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.button:hover > .button-border {
    display: block;
}

.button-border {
    position: absolute;
    bottom: 0;
    width: 42px;
    height: 2px;
    background-color: rgb(235, 245, 251);
    pointer-events: none;
    display: none;
}

.button > img {
    width: 22px;
    height: 22px;
    margin-left: 10px;
    margin-top: 12px;
}

.button.zoom-in:hover::before {
    position: absolute;
    content: "ZoomIn";
    color: white;
    width: 42px;
    font-size: 12px;
    text-align: center;
    left: 0;
    top: -15px;
}

.button.zoom-out:hover::before {
    position: absolute;
    content: "ZoomOut";
    color: white;
    width: 42px;
    font-size: 12px;
    text-align: center;
    left: 0;
    top: -15px;
}

.button.first:hover::before {
    position: absolute;
    content: "First";
    color: white;
    width: 42px;
    font-size: 12px;
    text-align: center;
    left: 0;
    top: -15px;
}

.button.previous:hover::before {
    position: absolute;
    content: "Previous";
    color: white;
    width: 42px;
    font-size: 12px;
    text-align: center;
    left: 0;
    top: -15px;
}

.button.next:hover::before {
    position: absolute;
    content: "Next";
    color: white;
    width: 42px;
    font-size: 12px;
    text-align: center;
    left: 0;
    top: -15px;
}

.button.last:hover::before {
    position: absolute;
    content: "Last";
    color: white;
    width: 42px;
    font-size: 12px;
    text-align: center;
    left: 0;
    top: -15px;
}

.button.fullscreen:hover::before {
    position: absolute;
    content: "Fullscreen";
    color: white;
    width: 42px;
    font-size: 12px;
    text-align: center;
    left: -10px;
    top: -15px;
}

#current-page-input {
    margin: 10px 10px 0 10px;
    text-align: center;
    width: 100px;
    height: 25px;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

@media (max-width: 438px) {
    #nav-bar .logo-area {
        width: 30%;
    }
}